<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Dashboard</title>
    <link rel="icon" href="images/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body >
    <header>
      <div class="header-container">
        <div class="header-logo">
          <img src="footer.gif" />
        </div>
        <nav class="nav-mobile">
          <div class="hamburger-menu"><div></div></div>
          <div class="menu">
            <div class="menu-overlay">
              <ul>
                
                <li><a href="#">EDA</a></li>
                <li role="separator">|</li>
                <li><a href="#">Machine Learning</a></li>
              </ul>
              <div class="menu-overlay-logo">
                <img src="spotify-logo.svg" />
              </div>
            </div>
          </div>
        </nav>
        <nav class="nav-desktop">
          <ul>
            <li><a href="http://localhost:5006/eda_dashboard">EDA</a></li>
            <li role="separator">|</li>
            <li><a href="http://localhost:5006/machine_learning">Machine Learning</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="hero">
      <div class="hero-container">
        <div class="hero-content">
          <h1 class="hero-title">Spotify</h1>
          <br><br><br>
          <h1 class="hero-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</h1>    
        <h1 class="mithesh">Done by Ghassen DAOUD & Med Hedi BELKADHI.</h1>
          <button class="hero-button-left"><a href="http://localhost:5006/eda_dashboard"> EDA Dashboard</a></button>
          <button class="hero-button-right"><a href="http://localhost:5006/machine_learning">ML Dashboard</a></button>
        </div>
      </div>
    </section>
    
    <footer>
      <nav class="footer-nav">
        <div class="logo-footer">
          <a href="#"><img src="spotify-logo.svg" /></a>
        </div>
        </div>
      </nav>
    </footer>
  </body>
</html>
