.custom-button {
    background-color: #dc3545; /* Bootstrap danger color for button */
    color: #ffffff; /* White text color */
    border-color: #dc3545; /* Border color */
}

.custom-navbar {
    background-color: #1DB954;
    color: #fff;
    border: 1px solid #1DB954;
}

.custom-navbar .bk-root .bk-tab {
    border: 1px solid #1DB954;
}
